@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); 
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-light: #ffffff;
  --foreground-light: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-light: #0a0a0a;
    --foreground-light: #ededed;
  }
}

body {
  color: var(--foreground-light);
  background: var(--background-light);
  font-family: 'Poppins', Arial, Helvetica, sans-serif; 
}


h1, h2, h3, h4, h5, h6 {
  color: inherit; 
}


.dark body {
  background: var(--background-light);
  color: var(--foreground-light);
}
